/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Body Styles */

body {
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
  background: linear-gradient(295deg, #86d4fb, rgb(255, 0, 217));
  color: white;
}

/* Container Styles */

.cont {
  width: 100%;
  padding: 20px;
}

/* Header Styles */

h1 img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  transform: rotate(-20deg);
}

/* Button Styles */

.create-btn {
  padding: 15px;
  font-size: 1.2em;
  margin-top: 20px;
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  background-color: #15153d;
  box-shadow: 0 0 5px 0 gray, inset 0 0 15px #0251a4, inset 0 0 5px #18b8fc;
}

.create-btn:hover {
  background-color: #223c7f;
  transform: scale(0.99);
  transition: all 0.2s;
}

.create-btn i {
  margin-right: 10px;
  font-size: 0.9em;
}

/* Notes Container Styles */

.notes-cont {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Input Box Styles */

.input-box {
  max-width: 600px;
  min-height: 200px;
  padding: 20px;
  border: none;
  outline: none;
  color: black;
  background-color: white;
  box-shadow: 0 0 5px 0 gray;
  border-radius: 10px;
  position: relative;
}

/* Delete Button Styles */

.delete-btn {
  width: 30px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
